<form action="/pizzas/<%= @pizza.id %>" method="POST">

  <label for="first-name-input">First Name:</label>
  <input
  id="first-name-input"
  type="text"
  name="first_name"
  value="<%= @pizza.first_name %>">

  <br>

  <label for="last-name-input">Last Name:</label>
  <input
  id="last-name-input"
  type="text"
  name="last_name"
  value="<%= @pizza.last_name %>">

  <br>

  <label for="topping-select">Topping:</label>
  <select id="topping-select" class="" name="topping">
    <option value="Pepperoni" <%= "selected" if @pizza.topping == "Pepperoni" %>>Pepperoni</option>
    <option value="Italian Sausage" <%= "selected" if @pizza.topping == "Italian Sausage" %>>Italian Sausage</option>
    <option value="Margherita" <%= "selected" if @pizza.topping == "Margherita" %>>Margherita</option>
    <option value="Mushroom" <%= "selected" if @pizza.topping == "Mushroom" %>>Mushroom</option>
  </select>

  <br>

  <label for="quantity-input">Quantity:</label>
  <input
  id="quantity-input"
  type="number"
  min="1"
  name="quantity"
  value="<%= @pizza.quantity %>">

  <br>

  <input type="submit" name="" value="Update Order">

</form>
